!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{'http-equiv' => 'refresh', content: "#{3600 * 4}"}
    %title
      Ref Haus Countdown?
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: '/the.css'}
  %body
    .container
      %h1
        Ref Haus is in
        - if @done
          no time at all
        - else
          = @days_until.to_i
          - if @days_until.to_i == 1
            day
          - else
            days

      - unless @done
        %h3
          %i
            This is no time at all.
        %p
          Like,
          %span.danger.bold
            = (@item[:total] / @days_until).round(2)
          = @item[:item]
          = @item[:verb]
          = @item[:description]
          per day!
          - if @item[:source]
            %sup
              %a{href: @item[:source], target: '_blank'}<
                source
                - if @item[:source].include?('.pdf')
                  [PDF]
      - else
        %h3
          %i
            Get hype.
