!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{'http-equiv' => 'refresh', content: "#{3600 * 4}"}
    %title
      Ref Haus Countdown?
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: '/the.css'}
  %body
    .container
      %h1
        Ref Haus is in
        = @days_until.to_i
        days
      %h3
        %i
          This is no time at all. 
      %p
        Like,  
        %span.danger.bold
          = (@item[:total] / @days_until).round(2)
        = @item[:item]
        = @item[:verb] 
        = @item[:description] 
        per day!